@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes slowRotation {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
   }

  @keyframes fadeOutAnimation {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  
  
  .fade-in {
    animation: fadeInAnimation 1s forwards;
  }

  .fade-out {
    animation: fadeOutAnimation 1s forwards;
  }

  @keyframes bounce-y {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }
  }

  .animate-bounce-y {
    animation: bounce-y 3s ease-in-out infinite;
  }
}

html {
  scroll-behavior: smooth;
  /* cursor: none; */
  /* cursor: crosshair */
}

.luckiest-guy-regular {
  font-family: "Luckiest Guy", serif;
  font-weight: 400;
  font-style: normal;
}

/* Rock Salt Font */
.rock-salt-regular {
  font-family: "Rock Salt", serif;
  font-weight: 400;
  font-style: normal;
}

/* Noto Sans JP Font with Variable Weight */
.noto-sans-jp {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 900; /* Replace <weight> with a value from 100 to 900 */
  font-style: normal;
}

#circularcursor {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  z-index: 100;
}

body {
  font-family: "Michroma", monospace;
}

#cv-button{
  animation: slowRotation 2s linear infinite;
}

#intro h1 {
  /* font-size: xxx-large; */
  font-family: "Righteous", sans-serif;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#intro p {
  /* animation-duration: 1s;
  animation-name: slidein */
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.3s;
  }

  100% {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  /* Change to your desired background color */
  /* z-index: -1 */
  background-repeat: repeat
}


/* Example for the blueShadow effect */
.blueShadow {
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.blueShadow::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 10px rgba(0, 0, 255, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.blueShadow:hover::after {
  opacity: 1;
}

/* Ensure group-hover is correctly applied */
.group:hover .group-hover\:translate-x-full {
  transform: translateX(100%);
}

/* General styling for Header */
header {
  transition: all 0.2s;
}

@media (max-width: 768px) {
  /* Apply hover effect styles on focus for small screens */
  [data-hover-tooltip]:focus::before,
  [data-hover-tooltip]:hover::before {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  /* Adjust scale bounce effect */
  [data-hover-tooltip]:focus,
  [data-hover-tooltip]:hover {
    animation: bounce 0.3s ease;
  }
}


/* Tooltip wrapper */
[data-hover-tooltip] {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

/* Tooltip text */
[data-hover-tooltip]:hover::before {
  content: attr(data-hover-tooltip);
  position: absolute;
  font-size: 14px;
  background-color: #333; /* Dark background */
  color: black;
  padding: 10px 14px;
  border-radius: 8px;
  text-align: center;
  background: #FFAD60;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 999;
  white-space: nowrap;
  width: max-content;
}

/* Top position */
[data-hover-tooltip][data-tooltip-position="top"]:hover::before {
  bottom: calc(100% + 15px); /* Tooltip above the element */
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  visibility: visible;
}

/* Bottom position */
[data-hover-tooltip][data-tooltip-position="bottom"]:hover::before {
  top: calc(100% + 15px); /* Tooltip below the element */
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  visibility: visible;
}

/* Bounce effect for the element */
[data-hover-tooltip]:hover {
  animation: bounce 0.3s ease;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
