@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    /* cursor: none; */
}
#circularcursor {
  background-color: transparent;
  border:1px solid rgb(255, 255, 255);    
  height:20px;
  width:20px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  position: absolute;
  z-index: 100;
}
body {
    font-family: 'Courier Prime', monospace;
  }
h1 {
font-size: xx-large;
font-family: 'Rubik Mono One', sans-serif;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000; /* Change to your desired background color */
  /* z-index: -1 */
  background-repeat: repeat
}

    
/* Example for the blueShadow effect */
.blueShadow {
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .blueShadow::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 10px rgba(0, 0, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .blueShadow:hover::after {
    opacity: 1;
  }
  
  /* Ensure group-hover is correctly applied */
  .group:hover .group-hover\:translate-x-full {
    transform: translateX(100%);
  }
  
  /* General styling for Header */
  header {
    transition: all 0.2s;
  }

  
